body {
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;

}

/* HEADER SECTION */

.header {
    background-image: url("amy-hirschi-szrJ3wjzOMg-unsplash-large.jpg");
    background-size: cover;
    width: 100%;
    height: 500px;
    display: flex;
}

.header-left-section {
    width: 100%;
}

.header-right-section {
    width: 100%;
}

.social-media-logos-top {
    height: 45%;
    padding-top: 50px;
    padding-left: 300px;
}

.headshot {
    border-radius: 50%;
    object-fit: cover;
    height: 250px;
    width: 250px;
    margin-left: 100px;
}

.portfolio-name {
    color: black;
    font-size: 22px;
    margin-left: 50px;
}

.job-titles {
    color: black;
    font-size: 46px;
    margin-left: 50px;
}

/* TOP SECTION*/


.sectionTop {
    background-color: #F4F4F4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}
   
.sectionTopText {
    font-size: 24px;
    font: normal normal normal 30px/50px Montserrat;
    width: 800px;
}


/* FEATURED PROJECTS SECTION */

.sectionFeatured {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #F4F4F4 0% 0% no-repeat padding-box;
}

.project-container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 80px;
    margin-left: 80px;
}

.project-box {
    width: 500px;
    margin: 20px;
}

.project-box-image-weather {
    height: 400px;
    background-image: url("weather.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-box-image {
    background-color: #FDDFE7;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-box-image-text {
    font-size: 48px;
    color: black;
}

.project-box-image-text-noimage {
    font-size: 48px;
    color: #072BCE;
}

.project-box-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
    
}

.project-box-text > p {
    height: 20px;
}

.boxTransparent {
    margin-bottom: 5px;
}

.project-box-text-container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 200px;
    flex-wrap: wrap;
}

.project-box-skills {
    height: 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.box-tech {
    width: 20%;
    height: 50px;
    margin-right: 5px;
    background: #FDDFE7;
    color: #072BCE;
}

.p-red {
    color: black;
    font-size: 18px;
}

.other-project {
    width: 60%;
    height: 100px;
    margin-bottom: 5px;
}

/* OTHER PROJECTS */

.otherProjects {
    background: #F4F4F4;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.other-projects-container {
    width: 60%;
}

/* SECTION TECH */



.sectionTech {
    display: flex;
    height: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font: normal normal normal 30px/50px Montserrat;
}

.sectionTechText {
    height: 200px;
    width: 800px;
    font-size: 24px;
    text-align: center;
}

/* SECTION INSPIRATION */


.sectionInspirational {
    width: 100%;
    height: 150px;
    text-align: center;
    font: normal normal normal 30px/50px Montserrat;
    
}

.sectionSkills {
    width: 100%;
    height: 150px;
    background: #F4F4F4 0% 0% no-repeat padding-box;
    opacity: 1;
}

.sectionMoreInformation {
    width: 100%;
    height: 150px;
    background: #F4F4F4 0% 0% no-repeat padding-box;
    opacity: 1;
}

/* SECTION CONTACT */

.sectionContact {
    background:#072BCE;
    color: #F4F4F4;  
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.contact-title {
    font-size: 46px;
    color: white;
}

.contact {
    font-size: 22px;
    color: white;
}

/* REUSABLE COMPONENTS */

.boxRed {
    background: #FA382F 0% 0% no-repeat padding-box;
    padding: 0 20px;
}

.boxTransparent {
    padding: 0 20px
}

.titleText {
    text-align: center;
    font: normal normal bold 30px Montserrat;
    color: #FFFFFF; 
}

.titleText-Red {
    text-align: center;
    font: normal normal bold 30px Montserrat;
    color: #FA382F; 
}

.title-container {
    display:flex;
    justify-content: center;
    align-items: center;  
    padding-top: 40px;
    margin-bottom: 40px;  
    padding-bottom: 40px;
}

    /* Mobile view */

    @media only screen and (max-width: 690px) {

        .header-left-section {
            width: 50%;
        }

        .header-right-section {
            width: 50%;
        }

        .headshot {
            display: none;
        }

        .social-media-logos-top {
            padding-top: 50px;
            padding-left: 50px;
        }

        .job-titles {
            font-size: 20px;
        }


        .sectionTopText {
            font-size: 20px;
            width: 100%;
            padding: 20px;
        }

        .sectionTechText {
            font-size: 20px;
            width: 100%;
        }

        .project-container {
            width: 100%;
        }

        .project-box-text-container {
            width: 100%;
            margin: 0px;
        }

        .box-tech {
            font-size: 10px;
            height: 20px;
        }

        .project-box-text {
            height: 150px;
        }

        .project-box-image-weather {
            width: 100%;
            background-size: contain;
        }

        .project-box-image-text-noimage {
            font-size: 20px;
        }

        .project-box-image-text {
            font-size: 20px;
        }

        .portfolio-name {
            font-size: 14px;
        }
    }